body {
    background-color: rgb(185, 7, 7);
}

h1 {
    color: rgb(0, 0, 0);
}

#paragrafo {
    background-color:                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            blue;
}

#texto {
    background-color:  pink;

}

#linha{
    background-color: yellow;
}

#nome {
    background-color: aquamarine;
}


ul {
    color: lightcoral;

}

.img1{
    width: 30%;
}


